{% extends 'base.html.twig' %}
{% block body %}
<style media="screen">
  .top{
    margin-top: 10%;
  }
  .red{
background:#FF5950;
  }
  span{
    text-align: center;
  }
</style>
<div class="container-fluid top">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p>
        Pour modifier le mot de passe du modérateur vous devez contacter <br>
        <span class="red">le responsable du serveur
          qui devra posséder les code d'accés ssh du serveur pour suivre </span> <br>
          la documentation situé dans le ficher <code>ADMIN_PASSWORD.md</code>
         à la racine de l'intranet dans le serveur. <br>
         <span>Exemple : <code>cd pam/</code> </span>
      </p>
    </div>
  </div>
</div>
{% endblock %}
