{% extends 'base.html.twig' %}
{% block body %}
<h1 style="margin-top:10%;">Contributeurs</h1>
{% for user in users | slice(1) %}
<li>{{ user.username }} <a href="{{ path('delete', {'id': user.id}) }}">X</a></li>
{% endfor %}
<a href="{{ path('fos_user_registration_register') }}">Créer un contributeur</a>
{% endblock %}
