{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<h4 class="titre"> {{ user }} </h4>
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
