.carre{
  background-color: #FF5950;
  height: 50vh;
}
.fosuser-form{
  padding-top: 5%;
}
input{
  margin-bottom: 3%;
}
 /*LOGIN*/
 #password{
   margin-top: 20px;
   margin-bottom:10px;
 }
 #remember{
   text-align: center;
 }
#_submit{
  margin-top: 10px;
}
/*END-LOGIN*/

/*REGISTER*/
#link{
  font-size: 20px;
  text-align: center;
  margin-top: 8%;
}
#link a{
  color: #004077;
}
/*END-REGISTER*/

/*CHANGE_PASSWORD*/
#form-changepassword{
  padding-top: 11%;
}
.input-changepassword{
  margin-bottom: 8%;
}
/*END-CHANGE_PASSWORD*/
