<div class="row no-padding">
  <header class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <div class="logo">
          <img src="{{ asset('web/images/logo-pole-emploi_region.png') }}" alt="logo Pôle Emploi">
        </div>
      </div>
      <div class="col-md-5"></div>
      <div class="col-md-4">
        <form class="navbar-form navbar-right inline-form">
          <div class="form-group">
            <input type="search" class="input-sm form-control" placeholder="Recherche">
            <button type="submit" class="btn btn-primary btn-sm search-btn">
              <span class="glyphicon glyphicon-eye-open"></span>
              Chercher
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <nav class="navbar navbar-static-top">
        <div class="col-md-3">
          <ul class="nav navbar-nav">
            <li class="active">
              <a class="navbar-brand" href="/">Accueil</a>
            </li>
            <li>
              <a class="navbar-brand" href="/event">Événements</a>
            </li>
          </ul>
        </div>
        <div class="col-md-7"></div>
        <div class="col-md-2 nav">
          <div class="btn-group">
            <button type="button" class="btn navbar-brand padding dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Connexion
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="/login">Connexion</a>
              </li>
              <li>
                <a href="/event/create">Publier un événement</a>
              </li>
              <li>
                <a href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  </div>
