.container{
  width: 100vh;
}
.contact{
  margin-top: 26vh;
  background: #FF5950;
}
h3{
  margin-top: 3vh;
  text-align: center;
  font-size: 2.5em;
  color: #FFFFFF;
}
.margin{
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.heigth-one{
  height: 5vh;
}
input{
  border: 1px solid #AAAAAA;
}
textarea{
  height: 20vh;
  /*border-radius: 5px;*/
  border: 1px solid #AAAAAA;
}
.btn-submit{
  height: 4vh;
  border: 1px solid #AAAAAA;
  background-color: #63B688;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 3vh;
}
@media screen and (max-width: 769px) {
    .contact {
    margin-top : 35vh;
  }
}
