.navbar-fixed-top {
  background-color: white;
  border: none;
}
.navbar-header>a>img {
  margin-top: -6%;
}
.navbar2 {
  margin-bottom: 0px;
  border: none;
}
.input-sm {
  border-radius: 0;
}
.search-btn {
  background-color: #FF5950;
  border: none;
  border-radius: 0;
}
.search-btn:hover {
  background-color: #FF372C;
}
.container1 {
  background-color: #fff;
  width: 100vw;
  height: 50px;
}
.container3{
  width:100vw;
}
input, select, #event_eventbundle_search_submit {
  width:150px;
  height: 25px;
}
select, #event_eventbundle_search_dateEnd, #event_eventbundle_search_dateStart {
  background-color: #63B688;
  border: 0.5px solid #599D78;
}
select:active, select:focus {
  outline:none;
}
#hamb{
  border-color: #599D78;
}
#hamb:hover{
  background-color: #599D78;
}
#menu, .container2 {
  width: 100vw;
  background-color: #63B688;
  margin-bottom: 0px;
  border: none;
}
.connect-btn {
  padding-right: 3%;
  background-color: #63B688;
}
.navbar-default .navbar-nav>li>a, .dropdown-menu>li>a,  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #fff;
}
.searchbar>li{
  height:55px;
}
.navbar-nav>li>a{
  text-transform: capitalize;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:active,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  text-decoration: none;
  background-color: #599D78;
  color: #1B2B66;
}
.dropdown-menu {
  background-color: #63B688;
}
.navbar3 {
  background-color: #FF5950;
  border:none;
  border-radius: 0;
}
.center, .center2 {
  text-align: center;
  margin-bottom: 1%;
}
.center2{
  padding: 1%;
}
label {
  margin:2%;
  display: block;
}
.glyphicon-lab {
  margin-bottom: 5%;
  font-weight: 700;
}
#event_eventbundle_search_submit {
  background-color: #63B688;
  border: none;
}
#event_eventbundle_search_submit:hover {
  background-color: #508E6C;
}
#event_eventbundle_search_sector{
  width:150px;
}


/* info-bulle*/
.picto-item {
  position: relative;  /*les .picto-item deviennent référents*/
  cursor: help;
  border-radius: 50%;
}

/* on génère un élément :after lors du survol et du focus :*/

.picto-item:hover:after,
.picto-item:focus:after {
  content: attr(aria-label);  /* on affiche aria-label */
  position: absolute;
  top: -2.4em;
  left: 50%;
	transform: translateX(-50%); /* on centre horizontalement  */
  z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
  white-space: nowrap;  /* on interdit le retour à la ligne*/
  padding: 5px 14px;
  background: #1B2B66;
  opacity:0.7;
  color: #fff;
  font-weight: bolder;
  border-radius: 4px;
  font-size: 1.2rem;
}

/* pas de contour durant le :focus */
[aria-label]:focus {
  outline: none;
}

.picto-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 .2em;
  width: 1.2em;
  height: 1.2em;
  color: #1B2B66;
  background: #63B688;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}
.badge{
  background-color: #63B688;
}
.badgeNotif {
  background-color: #FF5950
;

}
