.no-padding {
  padding: 0;
  margin: 0;
}
.logo>a>img {
  margin: 1%;
  margin-top: 7%;
}
.search-btn {
  background-color: #FF5950;
  border : none;
}
.search-btn:hover {
  background-color: #FF372C;
}
.navbar-static-top {
  background-color: #63B688;
  margin-top: 1%;
}
.navbar-brand {
  color: white;
}
.nav>li>a:hover, .nav>li>a:focus  {
    text-decoration: none;
    background-color: #599D78;
    color:#1B2B66;
}

.form-group {
  margin-top: 4.5%;
}
.padding {
  border-radius: 0;
  padding-top: 9% !important;
  background-color: #63B688;
}
.padding:focus, .padding:hover {
  text-decoration: none;
  background-color: #599D78;
  color:#1B2B66;
}
