.navbar-fixed-top {
  background-color: white;
  border: none;
}
.navbar-header>a>img {
  margin-top: -6%;
}
.navbar2 {
  margin-bottom: 0px;
  border: none;
}
.search-btn {
  background-color: #FF5950;
  border: none;
}
.search-btn:hover {
  background-color: #FF372C;
}
.container1 {
  background-color: #fff;
  width: 100vw;
}
#bs-navbar-collapse-1, .container2 {
  width: 100vw;
  background-color: #63B688;
  margin-bottom: 0px;
  border: none;
}
.connect-btn {
  padding-right: 3%;
  background-color: #63B688;
}
.navbar-default .navbar-nav>li>a, .dropdown-menu>li>a {
  color: #fff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:active,.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .dropdown-menu>li>a:hover {
  text-decoration: none;
  background-color: #599D78;
  color: #1B2B66;
}
.dropdown-menu {
  background-color: #63B688;
}
.navbar3 {
  background-color: #FF5950;
  width:100vw;
  border:none;
  border-radius: 0;
}
.center {
  text-align: center;
  margin-bottom: 1%;
}
label {
  margin:2%;
}
.research-btn {
  background-color: #1B2B66;
  border: none;
}
.research-btn:hover {
  background-color: #63B688;
}
