.home-container, .event-container {
  margin-top: 10%;
}
h1 {
  text-align: center;
  margin: -5px 0 5px 0;
  font-weight: 300;
  font-size: 44px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #1B2B66;
}
.une {
  height: calc(100vh - 210px);
  margin-left: 40px;
  margin-right: 40px;
}
h6 {
  text-align: right;
  margin-top: 5%;
  color: #000;
  font-weight: 500;
  font-size: 13px;
}
.img-une {
  height: 80%;
  background-size: cover;
  background-repeat: no-repeat;
}
.titre-une, .text-une {
  height: 10%;
  background-color: #2AA7CB;
}
.titre-une h3 {
  margin-top: 3%;
  margin-bottom: 1%;
  color: black;
}
.titre-une h5 {
  color: black;
  margin-top: 7%;
}
.text-une p {
  color: white;
  text-align: justify;
  padding-left: 1%;
  padding-right: 1%;
}
.text-une a, .deux a {
  color: white;
  text-decoration: underline;
}
.deux {
  color: white;
  margin-bottom: 1%;
  height: 142px;
  width: 72%
}
.img-mini {
  background-repeat: no-repeat;
  background-size: cover;
  height: 142px;
  max-height: 142px;
}
.bleu {
  background-color: #2AA7CB;
}
.orange {
  background-color: #FF5950;
}
.deux p {
  margin: 0px 10px 10px;
  text-align: justify;
}
.orange h4, .orange h5 {
  color: #000;
}
.bleu h4, .bleu h5 {
  color: #000;
}
.scroll {
  height: calc(100vh - 210px);
}
.mCSB_dragger_bar {
  background-color: #63B688 !important;
  z-index: 1000;
}
