.event-container {
  padding-top: 5%;
}
.home-container {
  padding-top: 10%;
}
h1 {
  text-align: center;
  margin: -5px 0 5px 0;
  font-weight: 300;
  font-size: 44px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #1B2B66;
}
.une {
  height: calc(100vh - 210px);
}
h6 {
  color: #000;
  font-weight: 500;
  font-size: 13px;
}
h6 .right {
  margin-top: 5%;
  text-align: right;
}
.img-une {
  height: 70%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  box-sizing: border-box;
}
.titre-une, .date-une, .text-une {
  background-color: #2AA7CB;
}
.titre-une {
  height: 10%;
}
.date-une {
  height: 5%;
}
.text-une {
  height: 20%;
}
.titre-une h4 {
  margin-top: 3%;
  color: black;
}
.text-une p {
  color: white;
  text-align: justify;
}
.deux {
  color: white;
  height: 150px;
  width: 72%
}
a:hover, #right a:hover {
  color : black;
}
#right a{
  float: right;
  margin-right: 15px;
  color: white;
  text-decoration: underline;
}
.white {
  color: white;
  text-decoration: underline;
}
.img-mini {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 142px;
  max-height: 142px;
  margin: 0px;
}
.border {
  margin-left: 0px;
  margin-right: -23px;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  box-sizing: border-box;
}
.border:last-child{
  border-bottom: 1px solid #cccccc;
}
.bleu {
  background-color: #2AA7CB;
}
.orange {
  background-color: #FF5950;
}
.deux p {
  text-align: justify;
}
.orange h4, .orange h5 {
  color: #000;
}
.black:hover {
  text-decoration:underline;
  color:black;
}
.bleu h4, .bleu h5 {
  color: #000;
}
.scroll {
  height: calc(100vh - 210px);
}
.mCSB_dragger_bar {
  background-color: #63B688 !important;
  z-index: 1000;
}
@media screen and (max-width: 769px) {
  .title {
    padding-top:45%;
  }
  .event-container {
    padding-top : 60%%;
  }
}
