body {
  height: 100vh;
}
.search-top {
  visibility: hidden;
}
.research-form {
  margin: 2%;
}
.center {
  text-align: center;
}
.research {
  height: 21.5%;
  z-index: 200;
  width: 100%;
  position: fixed;
  margin-top: -4%;
  background-color: #FF5950;
}
.research-btn {
  background-color: #1B2B66;
  border: none;
}
label {
  display: block;
}
.col-form {
  margin-left: -15px;
}
.right {
  text-align: right;
}
h1 {
  margin-top: 10%;
}
.result {
  margin-left: 0px;
  margin-right: 0px;
}
td {
  border: 1px solid black;
  padding: 1%;
}
