.search-top{
  visibility: hidden;
}
.result {
  margin-left: 0px;
  margin-right: 0px;
}
td, th {
  padding: 2%;
  border-bottom: 1px solid grey;
}
td {
  text-align: justify;
  background-repeat: no-repeat;
}
th {
  font-size: 17px;
  text-align: center;
  background-color:#63B688 ;
  color:white
}
.titles {
  background-color:#1B2B66 ;
}
li {
  list-style: none;
}
.scroll {
  margin-top: 10%;
  height: 60vh;
  top:30%;
}
.images{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
