body {
  height: 100vh;
}
.search-top {
  visibility: hidden;
}
.research-form {
  margin: 2%;
}
.center {
  text-align: center;
}
.research {
  max-height: 52%;
  background-color: #FF5950;
}
.research-btn {
  background-color: #1B2B66;
  border: none;
}
label {
  display: block;
}
.col-form {
  margin-left: -15px;
  margin-right: -15px;
}
.right {
  text-align: right;
}
.result {
  height: calc(100vh - 345px);
  bottom: 0;
  overflow: scroll;
}
