{% extends '::base.html.twig'%}

{% block stylesheets %}
  {{ parent() }}
    <link href="{{ asset('css/home.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body%}
<div class="container">
  
</div>
{% endblock %}
